{% extends 'base.html' %}
{% load static %}
{%block class%}'sub_page'{%endblock%}
{%block title%}Sobre Nosotros{%endblock%}
{% block content %}
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Sobre <span>Nosotros</span>
            </h2>
          </div>
          <p>
            Somos un sólido equipo de trabajo con más de 12 años de experiencia en pavimentación asfáltica de alta calidad, poniendo atención en todas las terminaciones, entregando así un servicio impecable. Contamos con una amplia trayectoria en el área y contamos con un amplio historial de casos de éxito, lo que nos ha llevado a una fidelización con distintas redes.
          </p>
        </div>
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              <span>Qué</span> Hacemos
            </h2>
          </div>
          <p>
            Brindamos asesoria profesional en todas las etapas del proyecto. Entregamos confianza, calidad y compromiso gracias a nuestro destacado equipo de trabajo,contamos con el respaldo de maquinaria propia y acompañados de nuestros aliados estrategicos lideres en el mercado. Tenemos experiencia en: Estacionamientos, empresas, clínicas, hospitales, colegios, universidades, centros comerciales, galpones, accesos a calles o interiores, almacenaje y recintos deportivos. Además hacemos pinturas y demarcaciones personalizadas.
          </p>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="{% static 'images/about-img.jpg'%}" alt="">
        </div>
      </div>

    </div>
  </div>
</section>

<!-- end about section -->

{% endblock %}