  {% extends 'base.html' %}
{% load static %}
{%block title%}Arquishield - Inicio{%endblock%}
{% block content %}

    <!-- slider section -->
    <section class="slider_section ">
      <div class="slider_bg_box">
        <img src="{% static 'images/slider-bg.jpg'%}" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                      Bienvenido a la mejor experiencia con <br>
                      Arquishield
                    </h1>
                    <div class="btn-box">
                      <a href="/about" class="btn1">
                        Conócenos
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  
  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container mb-4">
        <h2>
          Nuestro <span>Trabajo</span>
        </h2>
      </div>

      <div class="portfolio-item row">
        <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/1.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light" title=""> 
          <img class="img-fluid" src="{% static 'images/thumb/1.jpg'%}" alt="">
          </a>
        </div>
        <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/2.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light"> 
          <img class="img-fluid" src="{% static 'images/thumb/2.jpg'%}" alt="">
          </a>
        </div>
        <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/3.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light">
          <img class="img-fluid" src="{% static 'images/thumb/3.jpg'%}" alt="">
          </a>
        </div>
        <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/4.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light">
          <img class="img-fluid" src="{% static 'images/thumb/4.jpg'%}" alt="">
          </a>
        </div>
        <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/5.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light">
          <img class="img-fluid" src="{% static 'images/thumb/5.jpg'%}" alt="">
          </a>
        </div>
        <div class="item gts col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/6.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light">
          <img class="img-fluid" src="{% static 'images/thumb/6.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/7.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light">
          <img class="img-fluid" src="{% static 'images/thumb/7.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/8.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light">
          <img class="img-fluid" src="{% static 'images/thumb/8.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/9.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light">
          <img class="img-fluid" src="{% static 'images/thumb/9.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/10.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light">
          <img class="img-fluid" src="{% static 'images/thumb/10.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/11.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light" title="Inyección de losa">
          <img class="img-fluid" src="{% static 'images/thumb/11.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/12.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light" title="Inyección de losa">
          <img class="img-fluid" src="{% static 'images/thumb/12.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/13.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light" title="Impermiabilización con membranas cementicias">
          <img class="img-fluid" src="{% static 'images/thumb/13.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/15.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light" title="Impermiabilización de poliuretano">
          <img class="img-fluid" src="{% static 'images/thumb/15.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/14.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light" title="Terrazas con membrana cementicias">
          <img class="img-fluid" src="{% static 'images/thumb/14.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/16.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light" title="Poliuretano">
          <img class="img-fluid" src="{% static 'images/thumb/16.jpg'%}" alt="">
          </a>
        </div>
        <div class="item lap col-lg-3 col-md-4 col-6 col-sm">
          <a href="{% static 'images/17.jpg'%}" class="fancylight popup-btn" data-fancybox-group="light" title="Nivelación de losa">
          <img class="img-fluid" src="{% static 'images/thumb/17.jpg'%}" alt="">
          </a>
        </div>
      </div>

    </div>
  </section>

  <!-- end client section -->


  <!-- track section -->

  <section class="track_section layout_padding">
    <div class="track_bg_box">
      <img src="{% static 'images/track-bg.jpg'%}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <div class="heading_container" style="align-items: end;">
            <h2>
              Compromiso
            </h2>
          </div>
          <p style="text-align: right;">
            ¿Listos para conducir hacia el futuro con nosotros? La diferencia está en cada detalle, y en Arquishield, esos detalles construyen el camino hacia la excelencia.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- end track section -->

  <!-- contact section -->
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Contacto
              </h2>
            </div>
            <p>
              Escríbenos explicando tu problema o necesidad y nos pondremos en contacto contigo a la brevedad. 
            </p>
            <a href="/contact">
              Contáctanos
            </a>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  <!-- end contact section -->
{% endblock %}