{% extends 'base.html' %}
{% load static %}
{%block class%}'sub_page'{%endblock%}
{%block title%}Arquishield - Contacto{%endblock%}
{% block content %}

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Nuestros <span>Servicios</span>
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s1.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Movimiento de tierra y mejoramiento de suelos
                </h5>
                <p>
                  Una de nuestras especialidades es el movimiento y mejoramiento de terrenos/suelos, tanto como para preparación de su uso futuro o para la aplicación de otros de nuestros servicios.
                </p>
                <a href="/contact">
                  Más información
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s2.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Reparación y recarpeteo
                </h5>
                <p>
                  Hacemos reparaciones y recarpeteo con las mejores prácticas en mente para que la visión de calidad 3B se pueda apreciar en cada detalle de nuestro trabajo.
                </p>
                <a href="/contact">
                  Más información
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s3.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Carpetas asfálticas, soleras y solerillas
                </h5>
                <p>
                  Proveemos servicios de carpetas asfálticas con despliegue rápido, con material de alta clase para el mejor desempeño, así mismo entregamos soleras y solerillas con cualidades excelentes.
                </p>
                <a href="/contact">
                  Más información
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/s4.png'%}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Sellos, pinturas asfálticas y demarcaciones personalizadas
                </h5>
                <p>
                  Tenemos una variedad de pinturas asfálticas para entregar la mejor experiencia, además de sellos y tipos de demarcaciones que usted necesite.
                </p>
                <a href="/contact">
                  Más información
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->
{% endblock %}